.footer {
  height: 72px;
  background: whitesmoke;
  position: relative;
  width: 100vw;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 12px 0 ;
  font-family: 'audrey';
  font-size: 16px;
}
