.kontakt-container {
  display: flex;
  background-color:whitesmoke;
  padding: 2rem 2rem 2rem 12rem;
  height: 100vh;
}





h1 {
  padding-right: 120px;
  border-right: 3px solid #006699;
  border-radius: 20%;
  color: #006699;
}
